In [1]:
import pandas as pd
from uszipcode import SearchEngine
from database_connection import ENGINE

In [2]:
# read from `top_us_cities` table
top_us_cities_query = '''
    SELECT *
    FROM top_us_cities
'''

cities = pd.read_sql_query(
    top_us_cities_query,
    con=ENGINE
)

In [3]:
cities = cities.sample(20)
cities

              city          states population        lat         lon
494   Johnson City       Tennessee      65123  36.313440  -82.353473
21   Overland Park          Kansas     181260  38.982228  -94.670792
646        Houston           Texas    2195914  29.760427  -95.369803
185    Minneapolis       Minnesota     400070  44.977753  -93.265011
609      Yuba City      California      65416  39.140448 -121.616911
908       Martinez      California      37165  38.019366 -122.134132
543         Duluth       Minnesota      86128  46.786672  -92.100485
945        Bristol     Connecticut      60568  41.671765  -72.949270
652        Tamarac         Florida      63155  26.212861  -80.249771
195         Pomona      California     151348  34.055103 -117.749991
191    Albuquerque      New Mexico     556495  35.085334 -106.605553
594        Chicago        Illinois    2718782  41.878114  -87.629798
951       Evanston        Illinois      75570  42.045072  -87.687697
956        Yucaipa      California      52536  34.033625 -117.043087
169       Shakopee       Minnesota      39167  44.797396  -93.527286
895     Fort Worth           Texas     792727  32.755488  -97.330766
358    Spartanburg  South Carolina      37647  34.949567  -81.932048
731      Bradenton         Florida      51763  27.498928  -82.574819
979      Cambridge   Massachusetts     107289  42.373616  -71.109733
113         Dublin      California      52105  37.702152 -121.935792

In [4]:
search = SearchEngine()

In [5]:
def city_details_lookup(city, state):
    city_details_dict = {city + ', ' + state: {
        'zipcode': [],
        'state': []
    res = search.by_city_and_state(city='Chicago', state='Illinois', returns=None)
    for r in res:
        city_details_dict[city + ', ' + state]['zipcode'].append(r.zipcode)
        city_details_dict[city + ', ' + state]['state'].append(r.state)
    return city_details_dict

SyntaxError: invalid syntax (<ipython-input-5-57fb2f1a8e2b>, line 5)

In [6]:
output_df = pd.DataFrame()

for i, row in cities.iterrows():
    output_df.append(city_details_lookup(row['city'], row['states']), ignore_index=True)

NameError: name 'city_details_lookup' is not defined